* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(246, 211, 101);
  background: linear-gradient(
    90deg,
    rgba(246, 211, 101, 1) 0%,
    rgba(253, 160, 133, 1) 64%
  );
}

.colourinput {
  display: flex;
  margin: 2px;
}

footer {
  background: #fa7c59;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.heart {
  color: red;
  font-weight: bold;
}

.colours {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 10px;
}

.buttons {
  text-align: center;
}

form {
  width: 90%;
  margin: auto;
}

.form-top {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: right;
}

.form-top input {
  padding: 2px;
  background: #fff;
  width: 200px;
  border: none;
  border-bottom: 2px solid #1c87c9;
  border-color: transparent;
}

.form-top input:focus, .form-top input:active {
  outline: none;
  border-bottom: 2px solid #1c87c9;
}

.buttons > button {
  color: #fda085;
  background: #fff;
  cursor: pointer;
}

.buttons > button:hover {
  background: #fda085;
  color: #fff;
}

label {
  padding: 5px;
}

canvas {
  margin: auto;
  display: block;
}

a {
  color: #252525;
}

header {
  text-align: center;
  margin: 5px;
}

hr {
  margin: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0px;
  height: 1px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.download p {
  padding: 5px;
}

.download-links a {
  background-color: #fc8e70;
  border-radius: 40px;
  padding: 5px;
  font-size: x-large;
  margin: 0px 5px;
  text-decoration: none;
}

.download-links a:hover {
  background-color: #eb8366;
}

@media only screen and (max-width: 1000px) {
  canvas {
    max-width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  canvas {
    max-width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  canvas {
    max-width: 700px;
  }
}

@media only screen and (max-width: 700px) {
  canvas {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  canvas {
    max-width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  canvas {
    max-width: 300px;
  }
  .form-top div, .form-top input {
    width: 100%;
  }
}
