* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(246, 211, 101);
  background: linear-gradient(
    90deg,
    rgba(246, 211, 101, 1) 0%,
    rgba(253, 160, 133, 1) 64%
  );
}

.colourinput {
  display: flex;
  margin: 2px;
}

footer {
  background: #fa7c59;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.heart {
  color: red;
  font-weight: bold;
}

.colours {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 10px;
}

form {
  width: 90%;
  margin: auto;
}

.form-top {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: right;
}

.form-top input {
  padding: 2px;
  background: #fff;
  width: 200px;
  border: none;
  border-bottom: 2px solid transparent;
}

.form-top input:focus,
.form-top input:active {
  outline: none;
  border-bottom: 2px solid #1c87c9;
}

.buttons {
  text-align: center;
}

.buttons > button {
  color: #fda085;
  background: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 3px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
}

.buttons > button:hover {
  background: transparent;
  color: #fff;
}

.buttons > button:focus {
  border: 1px solid black;
  outline: none;
}

label {
  padding: 5px;
}

canvas {
  margin: auto;
  display: block;
}

a {
  color: #252525;
}

a:focus {
  outline: solid 2px;
}

header {
  text-align: center;
  margin: 5px;
}

hr {
  margin: 5px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  border: 0px;
  height: 1px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.download p {
  padding: 5px;
}

.download-links a {
  background-color: #fc8e70;
  border-radius: 2px;
  padding: 5px;
  font-size: large;
  margin: 0px 5px;
  text-decoration: none;
  outline: none;
  transition: background-color 0.5s ease;
}

.download-links a:hover,
.download-links a:focus {
  background-color: #eb8366;
}

.colourinput input,
.colourinput button {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px 3px;
  background-color: white;
}

.colourinput input:focus,
.colourinput button:focus,
.colourinput input:hover,
.colourinput button:hover {
  background-color: rgb(255, 208, 208);
  outline: none;
}

.colourinput input {
  border-right: none;
  border-radius: 50px 0 0 50px;
}

.colourinput button {
  border-left: none;
  border-radius: 0 50px 50px 0;
  padding-right: 5px;
}

@media only screen and (max-width: 1000px) {
  canvas {
    max-width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  canvas {
    max-width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  canvas {
    max-width: 700px;
  }
}

@media only screen and (max-width: 700px) {
  canvas {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  canvas {
    max-width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  canvas {
    max-width: 300px;
  }
  .form-top div,
  .form-top input {
    width: 100%;
  }
}
